.item_box {
	display: flex;
	flex-direction: colum;
	box-sizing: border-box;
	.video_box {
		width: 100%;
		height: 200px;
		border: 1px solid #aaa;
		video {
			width: 100%;
		}
	}
	.oper_box {
		width: 100%;
		height: 30px;
		border: 1px solid #aaa;
	}
}